@media (max-width:449px){
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:"Poppins", sans-serif;
  
}

    

/*header start*/
header {
    /* width: 100% ; */
    background-color: white;
    padding: 10px 40px;
    position: absolute;
    top: 0;
    position: relative;
}


.topnav{
     display:block;
     background-color:white;
     transition: 0.5s; 
     /* 
    overflow: hidden;
    flex-direction: column;
    justify-content:center;
    gap:4px; */
    /* width:25%; */
    /* padding-bottom:2px ; */
    

}

/* .topnav a:hover {
    background-color:grey;
    color:white;
  } */
/* .topnav a.active {
    background-color:white;
    color:black;
    position: absolute;
    right:300px;
    top: 15px;
    
    
  } */

.topnav a {
    /* float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; */
    display: none;
}

   .topnav .icon {
    float: right;
    display: block;
    background-color:rgb(218, 218, 218);
    top: 20px;
    right: 30px;
    position: absolute;
    color: black;
    width: 40px;
    height: 40px;
} 
  .topnav.responsive {
    position:relative;
    width: 100%;
    right:0px;
    top:10px;
    padding-left: 100px;
    position: absolute;

}
.topnav.responsive .icon {
    position:absolute;
    top:10px;
    right:30px;
    /* background-color:rgb(218, 218, 218); */
  }
.topnav.responsive a {
    float: none;
    display:block;
    text-align: left;
    /* flex-direction: column; */
  }

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}
.centre-container{
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    display: none;
}

.centre-container a {
    


    text-decoration: none;
   

    font-size: 16px;

    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 500;





}

header button {
    color: white;
    background-color:#1692C7 ;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
   
}
.right-button{
    display: none;
}

header button:hover {
    background-color: grey;
}

/*header end*/
/*section 1 start*/
section {
    display: flex;
   

}

.banner-container {
    width: 100%;
    height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, 0.183),rgba(0, 0, 0, 0.493)),url(./assets/mumbai-skyline-skyscrapers-construction\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   

    display: flex;

    justify-content: center;
    align-items: center;



}

.text-container {
    display: flex;
    width: 650px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;


}

.text-container h1 {
    color:rgba(255, 255, 255, 1);
    font-size: 25px;
    letter-spacing: 0px;
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-weight: 600;

}

.text-container p {
    display: flex;
    justify-content: space-around;
    color:rgba(255, 255, 255, 1);
   
    align-items: center;
    font-size: 9px;
    width: 300px;
    padding-bottom: 15px;
    font-weight: 100;


}

.text-container button {
    background-color:rgba(255, 255, 255, 1) ;
    color: rgb(37, 120, 246);
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 200;
    font-size: 13px;
    /* width: 50px;
    height: 30px; */
}

.text-container button:hover {
    background-color: rgb(213, 212, 212);
}

/*section one end*/
/*section two start*/
.section-two {
   padding: 60px 60px;
   height: auto;
}

.section-container {
    width: 100%;
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content: space-between;
    gap: 50px;
   

}

.left-section {
    width:300px;
    height: 368px;
    flex-direction: column;
  
    display: flex;
    justify-content: flex-end;
    


}

.left-section img {
    width:300px;
    height: 368px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;

}

.right-section {
    width:300px;
    height: 400px;

    display: flex;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;






}

.right-section h1 {
    font-size: 30px;
    font-weight: 600;
color: rgba(20, 20, 20, 1);
    margin: 0;





}

.right-section p {
    font-size: 15px;
    
    width: 300px;
    font-weight: 400;
    margin: 0;
    color:rgba(26, 26, 26, 1) ;









}


.right-section button {
    width: 129px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
    background-color:rgba(22, 146, 199, 1);
    color: white;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    height: 44px;
}

.right-section button:hover {
    background-color: rgb(157, 154, 154);
}

/*section two end*/
/*section three start*/
.section-three {
    margin: 0%;
    display: flex;
    align-items: center;
    flex-direction:column;
    background-image: url(./assets/Rectangle\ 2.png);
    justify-content:space-between;
    padding: 40px 100px;
   




}
.service-container{
    display: flex;
    align-items: center;
    margin: 0%;
}

.service-container h1 {
    margin: 0%;
    font-weight:600;
    font-size: 35px;
    color:rgba(20, 20, 20, 1) ;
    padding-bottom: 35px;
}

.section-two-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 48px;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;

}

.card-container {
    width: 300px;
    
    gap: 20px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.card-container img{
    
    width: 450px;
    object-fit: cover;
}

.card-container h1 {
    color:rgba(0, 0, 0, 1) ;
    font-size: 17px;
    font-weight: 500;
    margin: 0%;
}

.card-container p {
    color:rgba(26, 26, 26, 1) ;
    font-size: 15px;
   font-weight: 400;
    letter-spacing: 1px;
    line-height: normal;
    margin: 0%;
    width: 200px;
}

.card-container button {
    color: white;
    background-color:rgba(22, 146, 199, 1) ;
    border: none;
    padding: 10px 20px 10px 20px;
    width: 129px;
    border-radius: 10px;
    margin-bottom:30px;
    font-weight: 500;
    font-size: 16px;
    height: 44px;
}

.card-container button:hover {
    background-color: rgb(160, 158, 158);
}

/*section three end*/
/*section four start*/
.section-four {
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;                 
    justify-content: center;
    
}

.clients {

    margin: 0%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.clients h1 {

font-weight: 600;
font-size: 35px;
margin: 0%;
}

.logo-container {
    margin: 0%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap:20px;
    
}

.logo-container img {
    margin: 0%;
    width: 100px;
}

/*section four end*/
/*section five start*/
.section-five {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/Rectangle\ 3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0%;
    padding: 55px 60px;
    gap: 4px;
    justify-content: center;
}

.contact-us {
    display: flex;
    align-items: center;
    justify-content: center;
   /* padding-bottom: 20px; */
}

.contact-us h1 {
   font-size: 35px;
    font-weight: 600;
    color:rgba(20, 20, 20, 1) ;
    margin: 0%;
}

.section-five .container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 0%;
    gap: 6px;
    align-items: center;
}

.form-section {
    margin: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    border-radius: 15px;




}

.input-group {
    width: 300px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    position: relative;



}

.input-group label {
    color: black;
    font-size: 16px;
    letter-spacing: normal;
    position: absolute;
    top: -25px;
    
    font-weight: 500;


}

.input-group input {
    border: none;
    padding: 10px;
    caret-color: black;
    outline: none;
    color: black;
    border-radius: 10px;
    width: 300px;

}

.comments {
    position: relative;

}

.comments textarea {
    padding: 30px;
    width: 400px;
    border: none;
    outline: none;
    border-radius: 10px;
}



.form-section button {
    background-color:rgba(22, 146, 199, 1);
    color: rgba(247, 242, 242);
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    width: 158px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom:60px ;
    height: 44px;


}

.form-section button:hover {
    background-color: rgb(158, 153, 153);
}

.map-section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.map-section iframe {
    width: 300px;
    margin: 0%;
    border-radius: 10px;
    height: 350px;
    border: none;
    outline: none;

}

/*section five end*/
/*section six start*/
.section-six {
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    margin: 0%;
    gap: 30px;
}

.details-container {
    margin: 0;
    display: flex;
    flex-direction:column;
    /* align-items: center; */
    justify-content:center;
    width: 100%;
    gap: 20px;
    align-items:flex-start;


}

.building-logo {
    margin: 0%;
    width: 100%;
    padding: 0%;

    display: flex;
    
    align-items: center;

}

.building-logo img {
    margin: 0%;
    padding: 0%;

}

.details-container h5 {
    color:rgba(0, 0, 0, 1) ;
    margin: 0%;
    font-size: 15px;
    font-weight: 500;

}

.details-container a {
   color:rgba(0, 0, 0, 1) ;
    font-size: 12px;
    /* display: flex;
    flex-direction: column; */
    text-decoration: none;
    /* line-height: 30px; */
    font-weight: 400;
    
}

/*section six end*/
footer {
    background-image: url(./assets/Rectangle\ 5.png);
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
   color:rgba(0, 0, 0, 1) ;
    font-weight: 400;
    padding: 0px 30px;
    
}


}